<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                CT1
            {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                '../app/Resources/public/js/jquery-3.0.0.min.js'
                '../app/Resources/public/js/xml2json.js'
                '../app/Resources/public/js/jquery.soap.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
