{% extends 'base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        '@AppBundle/Resources/public/css/main.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/authentication.js'
        '@AppBundle/Resources/public/js/posts.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <div class="header">
        <h1>This is not the greatest page in the world. This is just a tribute.</h1>
    </div>
    {# posts #}
    <div class="left-box">
        {% include('@AppBundle/Resources/views/posts.html.twig') %}
    </div>
    {# authentication #}
    <div class="right-box">
        {% if authen_form %}
            {% include('@AppBundle/Resources/views/login.html.twig') %}
        {% endif %}
    </div>
{% endblock %}
